* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Titillium Web", sans-serif !important;
}

a {
  text-decoration: none;
}

.app-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}
